.sticky {
    position: fixed;
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

#bottom-left {
    bottom: 0;
    left: 0;
    background: #252525;
    color: #f1f1f1;
}

#bottom-right {
    bottom: 0;
    right: 0;
}

#top-left {
    top: 0;
    left: 0;
}

#top-right {
    top: 0;
    right: 0;
}

.section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.region {
    color: #efcc00;
}

    /* Musician style */

    /* For chord */
        span.chunk {
           position:relative;
        }

        span.chunk:before {
            font-size:60%;
            content:attr(data-chord);
            position:absolute;
            top:-110%;
            color: #ff3800;
        }

        .song_chord {
            font-size: 5vw;
            line-height: 200%;
        }
