        .content {
            padding: 50px;
        }

        .preview.view {
        	display: flex;
            color: #fff;
            justify-content: center;
            align-item: center;
            text-align: center;
            min-height: 80vh;
            font-family: Arial, KaiTi;
        }

        #bottom-left {
             position:absolute;
             font-size: 20px;
             bottom:130;
             left:10;
             padding: 10px;
             color: #fff;
        }

        #bottom-right {
             position:fixed;
             font-size: 20px;
             bottom:130;
             right:0;
             padding: 10px;
             color: #fff;
        }

        #top-left {
             position:absolute;
             font-size: 3vw;
             top:340;
             left:20;
             padding: 5px;
             color: #ffd800;
             background-color: #404040;
             display: none;
        }

        #top-right {
             position:fixed;
             font-size: 30px;
             top:40;
             right:0;
             padding: 10px;
             color: #ff3800;
             background-color: #c0c0c0;
             display: none;
        }

    /* Lead style */

    	.admin_container {
  		    display: grid;
  		    grid-template-areas:
    		    "preview menu"
    		    "control_div control_div";
  		    grid-template-columns: 4fr 3fr;
  		    gap: 5px;
  		    background-color: #8c92ac;
	    }

        .control_div {
            grid-area: control_div;
        }

    	.preview_container {
  		    display: grid;
  		    grid-template-areas:
    		    "preview menu"
    		    "preview_div preview_div";
  		    grid-template-columns: 4fr 3fr;
  		    gap: 5px;
  		    background-color: #2196F3;
	    }

	    .preview_container > div {
  		    padding: 10px;
	    }

	    .preview_container > div#menu {
	  	    grid-area: menu;
	    }

	    .preview_container > div#preview {
  		    grid-area: preview;
	    }

        .preview_container > div#preview_div {
  	    	grid-area: preview_div;
            width: 100%;
            height: 120px;
            max-height: 120px;
            padding: 5px 5px 5px 5px;
            overflow: scroll;
            flex-direction: column;
            display: flex;
            flex-wrap: wrap;
	    }

        button {
            padding: 32px 16px;
            width: 150px;
            margin: 5px;
        }

        #notes {
            font-size: 2.3vw;
        }

        .notes {
            text-align: left;
        }

        #preview {
        	display: flex;
            justify-content: center;
            align-item: center;
            text-align: center;
            min-height: 75vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #preview_div {
            overflow: hidden;
        }

        #preview_div .inner {
            height: 160px;
            border: 2px solid #000;
            border-radius: 5px;
            font-size: 1.2vw;
        }

        #preview_div .inner current {
            border: 2px double #000;
            border-radius: 5px;
            opacity: 0.5;
        }

        .inner.current {
            color: #fff;
            border-radius: 5px;
            opacity: 0.5;
        }

        #preview_div .inner:hover {
            cursor: pointer;
        }

        #preview_div .inner div {
            background-color: #c0c0c0;
            width:100%;
            text-align: center;
            position: relative;
            opacity: 0.5;
            color: #000;
            margin: 5 5 5 5;
        }

    /* Musician style */

    /* For chord */
        span.chunk {
           position:relative;
        }

        span.chunk:before {
            font-size:60%;
            content:attr(data-chord);
            position:absolute;
            top:-110%;
            color: #ff3800;
        }

        .song_chord {
            font-size: 5vw;
            line-height: 200%;
        }

        .next {
            opacity: 0.3;
        }

        .view.lyrics.region {
            color: yellow;
        }