{% include 'header.html' %}
<head>
    <link href="../static/presentation.css" rel="stylesheet">
  <style>
    span.chunk {
    position:relative;
}

span.chunk:before {
    font-size:65%;
    content:attr(data-chord);
    position:absolute;
    top:-120%;
}

#sheet {
    font-size:125%;
    line-height: 200%;
}

  </style>
<script>
    function parse_chord(chord, diff) {
	    diff = Number(diff);
	    chord = chord.split('/');
        new_chord = []
        for(c in chord) {
    	    if(chord[c][1] == 'b' || chord[c][1] == '#') {
              	pos_ = keys.indexOf(chord[c].substring(0,2))+diff
              	if(pos_>= keys.length) {
          	    	pos_ = pos_-keys.length;
                }
                else if(pos_<0) {
            	    pos_ = keys.length+pos_;
                }
            new_chord.push(keys[pos_]+chord[c].substring(2));
        	chord[c] = chord[c].substring(0,2) + chord[c].substring(2);
            }
            else {
			    pos_ = keys.indexOf(chord[c][0])+diff
          	    if(pos_>= keys.length) {
          		    pos_ = pos_-keys.length;
                }
                else if(pos_<0) {
            	    pos_ = keys.length+pos_;
                }
                new_chord.push(keys[pos_]+chord[c].substring(1));
                chord[c] = chord[c][0] + chord[c].substring(1);
            }
        }
        if(diff) {
    	    return new_chord.join('/');
        }
	    return chord.join('/');
    }

</script>
</head>
<body bgcolor="#fff">
<div id="my_score">
  <div id="top"><span id="sheet_title"></span>&nbsp;<span id="sheet_btn"></span></div>
  <div id="abc">
  <div id="keys"></div>
  </div>
  </div>
  <div style="text-align:center" id="sheet"></div>
</div>
</body>
<script>
  let chords = {{ chords|safe }};
  let index = 0;
  let data;
  let keys;

  function load_sheet(ii, key) {
    data = chords[ii];
    let name = [];
	keys_1 = ['C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B']
	keys_2 = ['C', 'Db', 'D', 'Eb', 'E', 'F', 'Gb', 'G', 'Ab', 'A', 'Bb', 'B']
	if(keys_1.indexOf(data.key) > 0) {
	  keys = keys_1;
	}
	else {
	  keys = keys_2;
	}
	html = '';
	if (!key) {
	  key = data.key;
	}
    for(var i=0;i<keys.length;i++) {
      if (key == keys[i]) {
        html += '<button title="Original Key" name="' + keys[i] + '"><b>' + keys[i] + '</b></button>';
      }
      else {
        html += '<button name="' + keys[i] + '">' + keys[i] + '</button>';
      }
    }
    $('#keys').html(html);
    let transpose = 0;
    if (key) {
      transpose = keys.indexOf(key) - keys.indexOf(data.key);
    }

    temp = '';
    for(var i=0;i<data.content.length;i++) {
      if(name.indexOf(data.content[i].name) < 0) {
        chord = data.content[i].origin_chord
        if (transpose != 0) {
          chord = chord.replace(/(data-chord=")([^"]+)/g, (match, g1, g2) => {return g1+parse_chord(g2, transpose);});
        }
        temp += '<div class="block">' + data.content[i].name + '<br/>' + chord + '</div>';
        name.push(data.content[i].name);
      }
    }
    $('#sheet').empty();
    $('#sheet').html(temp);
    $('#sheet').show();
  }

  $(document).ready(function() {
    // Form select box with song title
    if (chords.length > 1) {
      var songs = '<select name="songs" id="song_list">';
      for(var s=0;s<chords.length;s++) {
        song_title = chords[s].title;
        song_key = chords[s].key
        songs += '<option value=' + s + '>' + song_title + ' (' + song_key + ')</option>';
      }
      songs += '</select>';
      $("#sheet_title").html(songs);
      load_sheet(0);
    }

    $('#song_list').change(function(){
      index = this.value;
      load_sheet(index);
    });
  });

  $(document).on('click', 'button', function() {
    load_sheet(index, this.name)
  });
</script>
</body>