{% extends 'base.html' %}

{% block page_title %}Worship Home - Worship Manager{% endblock %}

{% block extra_css %}
<style>
    textarea {
        position: fixed;
        left:10px; top:10px;
        width:  calc(100vw - 50px);
        height: calc(100vh - 50px);
    }
    button {
        position: absolute;
        bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<body>
    <textarea name="content" id="content">{{ json }}</textarea>
    <button id="btn">Submit</button>
</body>
{% endblock %}

{% block extra_js %}
<script>
    $('#btn').click(function() {
        json_data = $("#content").val();
        try {
            JSON.parse(json_data);
            url = '/API/worship/{{ id }}/json';
            console.log(url)
            $.ajax({
                type: "post",
                url: url,
	            data: json_data,
                contentType: "application/json",
                dataType: 'json',
                complete: function(response) {
          	        if(response.status==200) {
                        location.reload();
    	            }
                    else {
                        alert(response.responseText);
	    	        }
                }
            });
        } catch (e) {
            alert(e);
            return false;
        }
        return true;
    });
</script>
{% endblock %}