{% include 'header.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

</style>
<body>
<div class="team">
    I am: <select id="user">
    </select>&nbsp;<button id="ok_btn">OK</button>&nbsp;<button onclick="javascript:location.href='/calendar'">Calendar</button>&nbsp;<button onclick="javascript:location.href='/'">Home</button>
</div>
</body>
<script>
    team = {{ team|safe }};
    html = '';
    console.log($.cookie("user_id"));
    for(x in team) {
        if($.cookie("user_id") == team[x].id) {
            html += '<option selected value=' + team[x].id + '>' + team[x].name + ' (' + team[x].name_2 + ')</option>';
        }
        else {
            html += '<option value=' + team[x].id + '>' + team[x].name + ' (' + team[x].name_2 + ')</option>';
        }
    }
    $('#user').append(html);

    $('#ok_btn').click(function() {
        user_id = $('#user').val();
        console.log(user_id);
        user_name = $('#user :selected').text();
        if(confirm('Are you sure you are ' + user_name + '?')) {
            $.cookie("user_id", user_id, { path: '/' });
            $.cookie("user_name", user_name, { path: '/' });
            location.href= '/';
        }
        return true;
    });
</script>
