{% extends 'base.html' %}

{% block page_title %}Profile - Worship Manager{% endblock %}

{% block extra_css %}
<style>
    .team {
        text-align: center;
        padding: var(--spacing-lg);
        max-width: 400px;
        margin: var(--spacing-xl) auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-sm); 
    }

    .team select {
        width: 100%;
    }

    .team button {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="team">
    I am: <select id="user"></select>
    <button id="ok_btn" class="btn btn-primary">OK</button>
</div>
{% endblock %}

{% block extra_js %}
<script>
    team = {{ team|safe }};
    html = '';
    for(x in team) {
        if($.cookie("user_id") == team[x].id) {
            html += '<option selected value=' + team[x].id + '>' + team[x].name + ' (' + team[x].name_2 + ')</option>';
        }
        else {
            html += '<option value=' + team[x].id + '>' + team[x].name + ' (' + team[x].name_2 + ')</option>';
        }
    }
    $('#user').append(html);

    $('#ok_btn').click(function() {
        user_id = $('#user').val();
        console.log(user_id);
        user_name = $('#user :selected').text();
        if(confirm('Are you sure you are ' + user_name + '?')) {
            $.cookie("user_id", user_id, { path: '/', expires: 365 });
            $.cookie("user_name", user_name, { path: '/', expires: 365 });
            location.href= '/';
        }
        return true;
    });
</script>
{% endblock %}
