{% include 'header.html' %}

<link href="/static/datatables.min.css" rel="stylesheet">
<script src="/static/datatables.js"></script>
<body>
<table id="schedule" class="display compact cell-border">
</table>
<p><button id="addRow">Add New Week</button></p>
</body>

<script>
    let schedule = {{ schedule|safe }};
    let column = {{ column|safe }};

    let table = new DataTable('#schedule', {
        ordering: false,
        info: false,
        data: schedule,
		columns: column.map(name => ({ title: name })),
        columnDefs: [
            {
                //render: (data, type, row) => fields(data, row),
                createdCell: function(td, cellData, rowData, row, col) {
                    d1 = new Date();
                    d2 = new Date(rowData[0].replace('-', '/'));
                    if (d2 > d1) {
                        $(td).attr('contenteditable', 'true');
                    }
                    $(td).attr('init-data', cellData);
                    $(td).attr('init-date', rowData[0]);
                    $(td).attr('init-id', col);
                },
                targets: "_all"
            }
        ],
        "bLengthChange": false,
        "pageLength": 26
    });

    $(document).on('blur', '[contenteditable]', function() {
        id = $(this).attr('init-id');
        date = $(this).attr('init-date');
        init_val = $(this).attr('init-data');
        val = $(this).text();
        if(val != init_val) {
            //if (confirm('Change the content from "' + init_val + '" to "' + val + '"?')) {
                data = {'date': date, 'name': val};
                url = API_URL + 'schedule/' + id;
                $('#loading').show();
                $.ajax({
                    type: "post",
                    url: url,
	                data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: 'json',
                    complete: function(response) {
          	            if(response.status==200) {
                            table.clear().rows.add(response.responseJSON).draw();
                        }
                        $('#loading').hide();
                    }
                });
            //}
        }
    });

    document.querySelector('#addRow').addEventListener('click', addNewRow);
    function addNewRow() {
        var last_row = table.row( ':last' ).data();
        let d = new Date(last_row[0].replace('-', '/'));
        var nextWeek = new Date(d.getTime() + 7 * 24 * 60 * 60 * 1000).toLocaleDateString('en-CA');
        new_row = [nextWeek];
        for(var i=1;i<column.length;i++) {
            new_row.push('');
        }
        table.row
            .add(new_row)
            .draw(false);
    }
</script>
</html>