{% include 'header.html' %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
        html {
            height: 100%;
            background-color: #8c92ac;
        }

        body {
            overflow: hidden;
        }

        .list {
            padding: 5px;
        }

        button {
            padding: 5px;
        }

</style>
<div class="list">
    {% for f in  files %}
        {{ f.filename }}: <a href="/slides/admin?id={{ f.id }}">Admin</a></a><br/>
    {% endfor %}
</div>