{% include 'header.html' %}
    <script src="/static/socket.io.js"></script>
    <script src="/static/presentation.js"></script>
    <link rel="stylesheet" href="/static/dist/reset.css">
	<link rel="stylesheet" href="/static/dist/reveal.css">
	<link rel="stylesheet" href="/static/dist/theme/black.css">
	<link rel="stylesheet" href="/static/presentation.css">
	<script src="/static/dist/reveal.js"></script>
    <script>

        presentation = {{ presentation|safe }};
        slides = presentation['data'];
        pos = presentation['pos'][0];
        order = presentation['pos'][1];
        msg = presentation['msg'];
        mode = '{{ mode|safe }}';

    function show_msg(){
        $('#top-right').html(msg);
        if (msg != '') {
            $('#top-right').show();
        }
        else {
            $('#top-right').hide();
        }
    }

    $(document).ready(function() {
    	$('#header').hide();
		Reveal.initialize({
			hash: true,
			showHiddenSlides: true,
			controls: "speaker-only",
			slideNumber: false,
			progress: false
		});
        if (mode) {
            init(mode);
            load();
        }
    });

</script>
</head>
<body>
	<div class="reveal">
		<div class="slides"></div>
	</div>
</body>
</html>