{% extends 'base.html' %}

{% block page_title %}Slides - Worship Manager{% endblock %}

{% block extra_css %}
    <link href="/static/presentation.css" rel="stylesheet">
    <style>
        html {
            height: 100%;
        }

        body {
            overflow: hidden;
            background-color: #000;
        }

        #control_btn {
            display: flex;
        }
        div {
            padding: 30px 10px;
        }
        button {
            font-size:30px
        }
    </style>
{% endblock %}

{% block content %}
<div id="top-left"></div><div id="top-right"></div>
    <div class="reveal">
		<div class="slides"></div>
	</div>
<div id="bottom-left"></div><div id="bottom-right"></div>
<div id="popup"></div>
{% endblock %}

{% block extra_js %}
    <script src="/static/socket.io.js"></script>
    <script src="/static/presentation.js"></script>
    <script>

    socket.on('connect', function () {
        console.log('connected to the server');
    });

    socket.on('response', function (data) {
        console.log('Server sent: ' + data);
        slides = data.data;
        pos = data.pos[0];
        order = data.pos[1];
        msg = data.msg;
        dynamic = data.dynamic;
        key_change = data.key;
        background = data.background;
        load(preview);
    });

        // init data from flask
            presentation = {{ presentation|safe }};
            slides = presentation['data'];
            pos = presentation['pos'][0];
            order = presentation['pos'][1];
            msg = presentation['msg'];
            mode = '{{ mode|safe }}';

        function init() {
            if (slides.length == 0 || mode == '') {
                alert("No slide is currently running!!");
                //mode = '';
                return false;
            }
            $("#control_btn").hide();
            $("#container").html(load_container());
            preview = $('#preview');
            load(preview);
            if (mode == 'lead') {
                $("#preview").css('height', '75vh');
            }
            else if (mode == 'view' || mode == 'musician') {
                $('#header').hide();
            }
        }

        function show_msg(){
            $('#top-right').html(msg);
            if (msg != '') {
                $('#top-right').show();
            }
            else {
                $('#top-right').hide();
            }
        }

        // function for remote view only

        $(document).on('click', '#btn_previous', function(){
            move_remote(-1);
        });

        $(document).on('click', '#btn_next', function(){
            move_remote(1);
        });

        // function for lead view only
        $(document).on('click', '#preview_div div', function(){
            id = $(this).attr('id').split('_')[1];
            id = Number(id)
            move(1, id-order);
        });

        $(document).on('click', '#dynamic_btn button', function() {
            msg = $(this).attr('title');
            name = $(this).attr('name');
            if (name=='transpose') {
                socket.emit('control', {'type': 'key', 'value': $(this).attr('transpose')});
            }
            socket.emit('control', {'type': 'dynamic', 'value': msg});
        });

        // functions for init page
        $(document).on('click', '#control_btn button', function() {
            mode_ = $(this).attr('name');
            document.location.href = 'slides/'+ mode_;
        });

    $(document).ready(function() {
        $('#header').hide();
		Reveal.initialize({
			hash: false,
			slideNumber: false,
			loop: false,
			overview: false,
			progress: false,
			controls: false
		});
        if (mode) {
            load_slides();
        }
        else {
            $('body').html('<div><button name="admin">Admin</button>&nbsp;<button name="lead">Lead</button>&nbsp;<button name="view">View</button>&nbsp;<button name="musician">Musician</button>&nbsp;<button name="score">Score</button>&nbsp;</div>');
            $('button').click(function() {
                name = $(this).attr('name');
                window.location.href = '/slides/' + name;
            });
        }
    });

    Reveal.on('slidechanged', (event) => {
        pos = event.indexh;
        order = event.indexv;
        console.log("slide changed", pos, order);
        Reveal.slide(pos, order);
        show_data(pos);
    });

    $(document).ready(function() {
        $('#header').hide();
		Reveal.initialize({
			hash: false,
			slideNumber: false,
			loop: false,
			overview: false,
			progress: false,
			controls: false
		});
        if (mode) {
            load_slides();
        }
        else {
            $('body').html('<div><button name="admin">Admin</button>&nbsp;<button name="lead">Lead</button>&nbsp;<button name="view">View</button>&nbsp;<button name="musician">Musician</button>&nbsp;<button name="score">Score</button>&nbsp;</div>');
            $('button').click(function() {
                name = $(this).attr('name');
                window.location.href = '/slides/' + name;
            });
        }
    });

    Reveal.on('slidechanged', (event) => {
        pos = event.indexh;
        order = event.indexv;
        console.log("slide changed", pos, order);
        Reveal.slide(pos, order);
        show_data(pos);
    });

</script>
{% endblock %}