{% extends 'base.html' %}

{% block page_title %}Songs - Worship Manager{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/static/datatables.min.css" rel="stylesheet">
<style>
#dialog {
    padding:5px;
    line-height: 200%;
}

.title:hover {
    cursor: pointer;
}

/* Language tags */
.lang_en    { --lang-color: #009698; }
.lang_zh    { --lang-color: #8b0000; }
.lang_zhTW  { --lang-color: #556b2f; }
.lang_zhpingyin { --lang-color: #856088; }

.lang_en, .lang_zh, .lang_zhTW, .lang_zhpingyin {
    border-radius: 50px 20px;
    color: #fff;
    border: 4px solid var(--lang-color);
    background-color: var(--lang-color);
}
</style>
{% endblock %}

{% block content %}
<div id="filters">
    <div id="lang"></div>
    <div id="key"></div>
</div>
    <!-- Container for songs -->
<table id="songs" class="display" width="100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Key</th>
            <th>Book</th>
            <th>Lang</th>
            <th>Lang2</th>
            <th>Score</th>
            <th>Video</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Title</th>
            <th>Key</th>
            <th>Book</th>
            <th>Lang</th>
            <th>Lang2</th>
            <th>Score</th>
            <th>Video</th>
        </tr>
    </tfoot>
</table>
<div id="dialog"></div>
{% endblock %}

{% block extra_js %}
<script src="/static/datatables.js"></script>
<script>
    let songs = {{ songs|safe }};
    let langs = [];
    let keys = [];
    let keys1 = [];
    let clicked = '';
    let $my_dialog;

    /*  This code looks quite complex for getting all the keys...
        The main use is only to make sure the keys exist in the songs...
        The sorting also needs to be fixed (sort only works for #, not b)...
        Just using a predefined list of keys might be easier..
    */
    
    // Option 1: Old Code
    // for (let song of songs) {
    //     if (!keys.includes(song.key)) {
    //         keys.push(song.key);
    //     }
    //     if (!langs.includes(song.lang)) {
    //         langs.push(song.lang);
    //     }
    //     if (!langs.includes(song.lang_2)) {
    //         langs.push(song.lang_2);
    //     }
    // }
    // langs.sort();
    // keys.sort();
    // keys1 = keys.includes('A')? keys.splice(keys.indexOf('A'),1):keys1;
    // keys1 = keys.includes('Ab')?keys1.concat(keys.splice(keys.indexOf('Ab'),1)):keys1;
    // keys1 = keys.includes('B')?keys1.concat(keys.splice(keys.indexOf('B'),1)):keys1;
    // keys1 = keys.includes('Bb')?keys1.concat(keys.splice(keys.indexOf('Bb'),1)):keys1;
    // keys1.sort();
    // keys = keys.concat(keys1);

    // Option 2: Fast, not Dynamic
    keys = ['C', 'Db', 'D', 'Eb', 'E', 'F', 'Gb', 'G', 'Ab', 'A', 'Bb', 'B'];
    langs = ['en', 'zh', 'zh-TW', 'zh-pingyin'];
    // Option 3, Dynamic but with Set, requires sorting still
    // let keySet = new Set();
    // for (let song of songs) {
    //     keySet.add(song.key);
    // }
    // keys = Array.from(keySet);
    // keys.sort();

    div = 'Key: ';
    for (key of keys) {
        div += '<input class="keys" type="checkbox" checked value="' + key + '">' + key + '</input>';
    }
    div += '<input class="all_keys" type="checkbox" checked>All</input>';
    $('#key').html(div);

    div = 'Language: ';
    for (lang of langs) {
        if (lang != '') {
            div += '<input class="langs" type="checkbox" checked value="' + lang + '">' + lang_tag(lang) + '</input>';
        }
    }
    $('#lang').html(div);
    


    let table = new DataTable('#songs', {
        data: songs,
		columns: [
		    {
		        data: null, className: 'title',
		        render: (data, type, row) => show_lyrics(data, row)
		    },
		    { data: 'key' },
		    { data: 'book' },
		    {
		        data: null,
		        render: (data, type, row) => lang_tag(data.lang, row)
		    },
		    {
		        data: null,
		        render: (data, type, row) => lang_tag(data.lang_2, row)
		    },
		    {
		        data: null,
		        render: (data, type, row) => get_score(data, row)
		    },
		    {
		        data: null,
		        render: (data, type, row) => get_video(data.video, row)
		    }
		],
		"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		"pageLength": 25
    });

    function set_cookies(id, action) {
        if($.cookie('pinned')) {
            let cookies = $.cookie('pinned').split(',');
            let c = cookies.indexOf(id);
            if(c < 0) {
            console.log('not found', action, action == 'pin it')
                if (action == 'pin it') {
                    cookies.push(parseInt(id));
                    $.cookie('pinned', cookies.toString(), { path: '/' }, { expires: 365 });
                    $('#pin_'+id).attr('title', 'pinned');
                    $('#pin_'+id).html('&#xf004;');
                }
            }
            else {
                cookies.pop(c);
                $.cookie('pinned', cookies.toString(), { path: '/' }, { expires: 365 });
                $('#pin_'+id).attr('title', 'pin it');
                $('#pin_'+id).html('&#xf08a;');
            }
        }
        else {
            $.cookie('pinned', parseInt(id), { path: '/' }, { expires: 365 });
            $('#pin_'+id).attr('title', 'pinned');
            $('#pin_'+id).html('&#xf004;');
        }
    }

    function pinned(id) {
        if($.cookie('pinned')) {
            cookies = $.cookie('pinned').split(',');
            if(cookies.indexOf(id.toString()) < 0) {
                return ' title="pin it">&#xf08a;';
            }
            return ' title="pinned">&#xf004;';
        }
        return ' title="pin it">&#xf08a;';
    }

    function show_lyrics(data) {
        html = '<span song_id="' + data.id + '">' + data.title + '</span>&nbsp;<i style="display:none" style="font-size:14px" class="fa" title="Edit Song" id="edit_' + data.id + '" name="' + data.title + '">&#xf044;</i>&nbsp;<i style="display:none" style="font-size:14px" class="fa" id="pin_' + data.id + '"' + pinned(data.id) + '</i></span>';
        return html;
    }

    function get_score(data) {
        html = '';
        for (s of data.score) {
            html += `<a href="${s}" target="new">
                    <i style="font-size:24px" class="fa" title="Sheet Music">&#xf0f6;</i>
                    </a>&nbsp;`;
        }
        if (data.abc) {
            html += `<a href="../sheets/${data.id}" target="new">
                    <i style="font-size:24px" class="fa" title="Interacted Sheet Music">&#xf1c7;</i>
                    </a>`;
        }
        return html;
    }

    function get_video(links) {
        html = '';
        for (v of links) {
            html += `<a href="${v}" target="new">
                    <i class="fa fa-play-circle" style="font-size:24px" title="Youtube Video"></i>
                    </a>`;
        }
        return html;
    }

    function lang_tag(lang) {
        if(lang == '') { return ''; }
        tags = {'en': '<span class="lang_en" title="English">en</span>', 
                'zh': '<span class="lang_zh" title="Chinese">zh</span>', 
                'zh-TW': '<span class="lang_zhTW" title="Taiwanese">tw</span>', 
                'zh-pingyin': '<span class="lang_zhpingyin" title="Zh PingYin">zh</span>', 
                'others': '<span class="others">na</span>'
                }
        if (lang in tags) {
            return tags[lang];
        }
        return tags['others'];
    }

    function show(title, content) {
        $("#dialog").html(content).dialog({ title: title}).dialog("open");
    }

    $(document).ready(function() {
	    $my_dialog = $("#dialog").dialog({
  		    autoOpen: false,
  		    position: {
  		        my:"center", at:"center", of:window
  		    },
  		    hide: { effect: "fade", duration: 800 },
  		    show: { effect: "fade", duration: 800 },
  		    width: 'auto',
  		    buttons: [
  		        {
                    text: 'OK',
                    click: function() {
                        if(clicked == '') {
                            $( this ).dialog( "close" );
                        }
                        temp = data_changed($("#song_form").serializeArray());
                        if(temp) {
                            submit_song('/API/song/' + id + '/edit', JSON.stringify(temp))
                                $( this ).dialog( "close" );
                        }
                        else {
                            $( this ).dialog( "close" );
                        }
                    }
                }
            ]
            //modal: true
	    });
    });

    $(document).on('mouseover', '.title', function() {
        $(this).find('i').show();
    });

    $(document).on('mouseout', '.title', function() {
        $(this).find('i').hide();
    });

    $(document).on('click', '.title span', function() {
        song_id = $(this).attr('song_id');
        content = songs.filter(obj=>{return obj.id == song_id}).map(obj=>obj.content);
        tabs = [];
        tab_div = '<div class="lyrics"><ul>';
        lyrics = '';
        n = 1;
        for (l of content[0]) {
            if(tabs.indexOf(l.name) >= 0) {
                continue;
            }
            tabs.push(l.name);
            lyrics += '<div id="tabs-' + n + '">' + l.origin_text + '<br/>' + l.region_text + '</div>';
            n++;
        }
        for (var i=0;i<tabs.length;i++) {
            tab_div += '<li><a href="#tabs-'+ (i+1) + '">' + tabs[i] + '</a></li>';
        }
        tab_div += '</ul>' + lyrics + '</div>';
        title = $(this).text();
        $my_dialog.html(tab_div);
        $('.lyrics').tabs();
        $my_dialog.dialog({ title: title}).dialog('open');
        clicked = '';
    });

    $(document).on('click', '.title i', function() {
        var url = this.id.split('_')[1];
        title = $(this).attr('name');
        if ($(this).attr('name')) {
            $my_dialog.load(url, function() {
                $(this).dialog({ title: title}).dialog('open');
            });
            clicked = 'edit';
        }
        else {
            set_cookies(url, $(this).attr('title'));
            console.log($.cookie('pinned'))
        }
    });

    $('.all_keys').click(function() {
        var checked = this.checked;
        $('.keys').each(function() {
            this.checked = checked;
        });
        if(checked) {
            table.column(1).search((d) => keys.includes(d)).draw();
        }
        else {
            table.column(1).search((d) => d==-1).draw();
        }
    });

    $('.keys').click(function() {
        var temp = [];
        $('.keys').each(function() {
            if(this.checked) {
                temp.push(this.value);
            }
        });
        table.column(1).search((d) => temp.includes(d)).draw();
    });

    /* Language Filter */
    // Use raw data values, not table.column(#).search() which only searches HTML values
    // Ran every time table.draw is ran
    $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
        let checkedLangs = [];
        $('.langs').each(function() { 
            if(this.checked){
                checkedLangs.push(this.value);
            }
        });
        if(checkedLangs.length === 0) return false; // hide all if none selected

        // row.lang and row.lang_2 are the raw language codes
        let row = songs[dataIndex];

        // If return is true, keep the row. If return is false, hide the row.
        // In this case, Lang1 and Lang2 have to both be part of the checkedLangs.
        return checkedLangs.includes(row.lang) && checkedLangs.includes(row.lang_2);
    });

    // Redraw table on checkbox click
    $('.langs').click(function() {
        table.draw();
    });
</script>
{% endblock %}