{% extends 'base.html' %}

{% block page_title %}Worship Home - Worship Manager{% endblock %}

{% block extra_css %}
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
span.chunk {
    position:relative;
}

span.chunk:before {
    font-size: 0.65em;
    content:attr(data-chord);
    position:absolute;
    top:-2em;
}

.song_chord {
    line-height: 200%;
}

.song_block {
    text-align: center;
    background-color: #e0e0e0;
    width:50%;
    position: relative;
    color: #000;
    margin: 5px;
}

.song_block > span {
    position: absolute;
    top: 5px;
    left: 5px;
}

.info {
    border: 2px solid #856088;
    color: #000;
    border-radius: 5px;
}

.songs {
    border: 2px solid #556b2f;
    color: #000;
    border-radius: 5px;
}

.notes {
    text-align: center;
}

/* Language tags */
.lang_en    { --lang-color: #009698; }
.lang_zh    { --lang-color: #8b0000; }
.lang_zhTW  { --lang-color: #556b2f; }
.lang_zhpingyin { --lang-color: #856088; }

.lang_en, .lang_zh, .lang_zhTW, .lang_zhpingyin {
    border-radius: 50px 20px;
    color: #fff;
    border: 4px solid var(--lang-color);
    background-color: var(--lang-color);
}


/* Toggle buttons */
.view  { --btn-color: #04AA6D; }
.chord { --btn-color: #008CBA; }
.bi    { --btn-color: #555555; }
.video { --btn-color: #800000; }

.toggle-btn {
    background-color: white;
    color: black;
    border: 2px solid var(--btn-color);
}

.toggle-btn.on,
.toggle-btn:hover {
    background-color: var(--btn-color);
    color: white;
}

.worship_controls_button_container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 1rem;
}

/* Cotainer for Video (helps scale) */
.video-container {
    width: 100%;
    max-width: 640px;
    aspect-ratio: 16 / 9;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}
</style>
{% endblock %}

{% block content %}
    <h3> {{ w.date }} 敬拜筆記 (Worship Notes):</h3>
    <p>
        <b>Title: {{ w.sermon_title }}<br/>
        Speaker: {{ w.speaker }}<br/>
        Bible: <span id="bible_verse"></span><br/>
        Outline: {{ w.outline }}</b>
    </p>
    <p>
        {% for team in w.content %}
            {{ team.role }}: {{ team.user_name }}<br/>
        {% endfor %}
    </p>
    <p>
        <b>Worship Leader's Notes:</b>
        {{ w.notes }}
    </p>

    <!-- Container of worship songs -->
    <div class="worship_controls_button_container">
        <button class="toggle-btn view" onclick="load('view')">View</button>
        <button class="toggle-btn chord" onclick="load('chord')">Chord</button>
        <button class="toggle-btn bi" onclick="load('bi')">Bilingual</button>
        <button class="toggle-btn video" onclick="load('video')">Youtube</button>
        <button class="toggle-btn" onclick="load_chords()">All Chords</button>
        <button class="toggle-btn" onclick="load_sheets()">All Sheets</button>
    </div>

    <div id="worship">
    </div>
{% endblock %}

{% block extra_js %}
<script src="/static/bible.js"></script>
<script>
    let tab = '{{ tab|safe }}';
    let worship = {{ songs|safe }};
    let w = {{ w|safe }};
    let song_id = worship.map(o=> o.id);

    var bible = w.bible.replace(/(、|;)/g, '，'); // Replace possible symbols to Chinese comma
    bible = bible.split('，');
    var b = '';
    for (var i=0;i<bible.length;i++) {
        b += ' <a href="javascript:get_bible(show_verse, \'' + bible[i] + '\')">' + bible[i] + '</a>';
    }
    $('#bible_verse').html(b);

    // init sharp and flat keys to be assigned to keys
    let sharp = ["C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B"];
    let flat = ["C", "Db", "D", "Eb", "E", "F", "Gb", "G", "Ab", "A", "Bb", "B"];
    let keys = flat;

    // parse chord to different key by transpose number
    function parse_chord(chord, diff) {
        if (sharp.indexOf(chord)>=0) {
    	    keys = sharp;
        }
	    diff = Number(diff);
	    chord = chord.split('/');
        new_chord = []
        for(c in chord) {
    	    if(chord[c][1] == 'b' || chord[c][1] == '#') {
              	pos_ = keys.indexOf(chord[c].substring(0,2))+diff
              	if(pos_>= keys.length) {
          	    	pos_ = pos_-keys.length;
                }
                else if(pos_<0) {
            	    pos_ = keys.length+pos_;
                }
            new_chord.push(keys[pos_]+chord[c].substring(2));
        	chord[c] = chord[c].substring(0,2) + chord[c].substring(2);
            }
            else {
			    pos_ = keys.indexOf(chord[c][0])+diff
          	    if(pos_>= keys.length) {
          		    pos_ = pos_-keys.length;
                }
                else if(pos_<0) {
            	    pos_ = keys.length+pos_;
                }
                new_chord.push(keys[pos_]+chord[c].substring(1));
                chord[c] = chord[c][0] + chord[c].substring(1);
            }
        }
        if(diff) {
    	    return new_chord.join('/');
        }
	    return chord.join('/');
    }

    function load_chords() {
        window.open('/chords/' + song_id.toString(), '_blank').focus();
    }

    function load_sheets() {
        window.open('/sheets/' + song_id.toString(), '_blank').focus();
    }

    function lang_tag(lang) {
        if(lang == '') { return ''; }
        tags = {'en': '<span class="lang_en" title="English">en</span>', 'zh': '<span class="lang_zh" title="Chinese">zh</span>', 'zh-TW': '<span class="lang_zhTW" title="Taiwanese">tw</span>', 'zh-pingyin': '<span class="lang_zhpingyin" title="Zh PingYin">zh</span>', 'others': '<span class="others">na</span>'}
        if (lang in tags) {
            return tags[lang];
        }
        return tags['others'];
    }

    function clicked(name) {
        const buttons = document.getElementsByTagName('button');
        for (const b of buttons) {
            b.classList.remove('on');
        }
        const active = document.querySelector(`button.${name}`);
        if (active) active.classList.add('on');
    }

    function load(name) {
        clicked(name);
        let html = '';
        for (data of worship) {
            if (data.type == 'info') {
                html += '<div class="info">' + data.notes.replace('\n', '<br/>') + '</div>';
            }
            else {
                if(name == 'video') {
                    let v = data.video.replace('youtu.be/', 'www.youtube.com/embed/');
                    v = v.replace('watch?v=', 'embed/');
                    html += '<div class="video-container"><iframe src="' + v + '"></iframe></div><br/>';
                }
                else {
                    html += '<div class="songs"><div class="reference">' + data.title + ' (' + parse_chord(data.key, parseInt(data.transpose)) + ') ' + lang_tag(data.lang) + ' ' + lang_tag(data.lang_2) + ' [' + data.alt_sequence + ']';

                    if (data.score) {
                        html += '&nbsp;&nbsp;<a href="' + data.score + '" target="new"><i style="font-size:24px" class="fa" title="Sheet Music">&#xf0f6;</i></a>';
                    }
                    if (data.abc) {
                        html += '&nbsp;&nbsp;<a href="/sheets/' + data.id + '" target="new"><i style="font-size:24px" class="fa" title="Interacted Sheet Music">&#xf1c7;</i></a>';
                    }
                    if (data.video) {
                        html += '&nbsp;&nbsp;<a href="' + data.video + '" target="new"><i class="fa fa-play-circle" style="font-size:24px" title="Youtube Video"></i></a>';
                    }
                    html += '</div><table width="100%"><tr><td class="song_block">';
                    let ll = [];
                    for (l of data.content) {
                        if(ll.indexOf(l.name) >= 0) {
                            continue;
                        }
                        html += '<div><span>' + l.name + '</span>';
                        if (name == 'view') {
                            html += '<div class="song">' + l.origin_text.replace('\n', '<br/>');
                        }
                        else if (name == 'chord') {
                            let chords = l.origin_chord.replace('\n', '<br/>');
                            if(data.transpose != '0') {
                                let key_change = parseInt(data.transpose);
                                chords = chords.replace(/(data-chord=")([^"]+)/g, (match, g1, g2) => {return g1+parse_chord(g2, key_change);});
                            }
                            html += '<div class="song_chord">' + chords;
                        }
                        else if (name == 'bi') {
                            html += '<div class="song"><div class="origin">' + l.origin_text.replace('\n', '<br/>') + '</div><div class="region">' + l.region + '</div>';
                        }
                        ll.push(l.name);
                        html += '</div><br/>';
                    }
                    html += '</td><td class="notes">' + data.notes.replace('\n', '<br/>') + '</td></tr></table>';
                }
            }
        }
        const target = document.getElementById("worship");
        target.innerHTML = html;
    }

    console.log(tab)
    if(tab == '') {
        load('view');
    }
    else {
        load(tab);
    }
</script>
{% endblock %}