{% include 'header.html' %}

<style>
.worship_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.worship_container > div {
  min-width: 220px;
  margin: 10px;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 600px) {
  .worship_container {
    flex-direction: column;
    flex: 100%;
  }
}

.worship-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.worship-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card-front {
  background-color: #8FBC8F;
  color: #556B2F;
}

.card-back {
  background-color: #009688;
  color: #fff;
  transform: rotateY(180deg);
}

.overlay_btns {
    position: absolute ;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.edit_btn {
border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap;    border-radius: 50px;
}

.ui-dialog-titlebar {
    background-color: #008CBA;
    color: #fff;
}
</style>
</head>
<body>
<div class="worship_container">
{% for w in worship %}
    <div class="worship-card">
        <div class="card-inner" date="{{ w.date }}">

        <div class="card-front">
            <h3>{{ w.date }}</h3>
    {% if w.worship %}
        <div style="padding:10px;text-align:left;">
            <b>{{ w.worship.sermon_title }}</b><br/>
            Speaker: {{ w.worship.speaker }}<br/>
            Bible: {{ w.worship.bible }}<br/>
            Notes: {{ w.worship.notes|truncate(100) }}
        </div>
            </div>
            <div class="card-back" name="{{ w.worship.worship_id }}">
            <b>Worship Team</b><br/>
                {% for team in w.worship.content %}
                    {% if team.user_name != '' and team.role != '' %}
                        {{ team.role }}:&nbsp;{{ team.user_name }}<br/>
                    {% endif %}
                {% endfor %}
            <div class="overlay_btns"><button id="info_btn" name="{{ w.worship.date }}">Info</button> <button id="sermon_btn" name="{{ w.worship.worship_id }}">Edit</button> <button id="song_btn" name="{{ w.worship.worship_id }}">Songs</button> <button id="notes_btn" name="{{ w.worship.worship_id }}">Notes</button>&nbsp;<button id="team_btn" name="{{ w.worship.worship_id }}">Teams</button></div>
        </div>
    {% else %}
            </div>
      <div class="card-back">
            <div class="overlay_btns"><button id="song_btn" name="{{ w.worship.worship_id }}">Songs</button>&nbsp;<button id="team_btn" name="{{ w.worship.worship_id }}">Teams</button></div>
      </div>
    {% endif %}
  </div>
</div>
{% endfor %}
</div>
<div id="popup"></div>
</body>
<script>
let team;
let roster;
let inst;
let marked;
let worship_id = -1;

function pop_role(name) {
    for(i in taken_role) {
        if(taken_role[i].name == name) {
            taken_role.splice(i,1);
            break;
        }
    }
}

    function add_button() {
        return '<button class="add_btn" title="Click to confirm" style="display:none">Add</button>';
    }

    function add_arrow() {
        return '<button id="add_arrow" title="Click to Add a New Role"> &gt; </button>';
    }

    function inst_option() {
        html = '<option>Select an Role</option>';
        for(x in inst) {
            html += '<option value="' + inst[x].id + '">' + inst[x].name + '</option>';
        }
        var $select = $('<select class="inst"></select>');
        $select.append(html);
        return $select[0].outerHTML;
    }

    function team_option() {
        html = '<option>Select a User</option>';
        matched = marked.filter(obj=>{return obj.date == date}).map(obj => obj.id);
        for(x in team) {
            if(matched.indexOf(team[x].id) >= 0 ) {
                html += '<option disabled title="Not Available" value="' + team[x].id + '">' + team[x].name + ' (' + team[x].name_2 + ')</option>';
            }
            else {
                html += '<option value="' + team[x].id + '">' + team[x].name + ' (' + team[x].name_2 + ')</option>';
            }
        }
        var $select = $('<select class="user"></select>');
        $select.append(html);
        return $select[0].outerHTML;
    }

    function pick_team(id, date) {
        dd = new Date();
        d1 = new Date(date.replace('-','/'));
        roster_html = '<div id="current_roster" name="' + id + '_' + date + '"></div>';
        for (x in roster) {
            html = '';
            $div = $('<div>' + roster[x].inst_name + ': </div>');
            inst = inst.filter((item, index) => item.id != roster[x].id);
            for (t in team) {
                if(team[t].id == roster[x].id) {
                    html += '<option selected id="' + roster[x].id + '_' + roster[x].user_id + '">' + roster[x].user_name + ' (' + roster[x].user_name_2 + ')</option>';
                }
                else {
                    html += '<option id="' + roster[x].id + '_' + team[x].id + '">' + team[t].name + ' (' + team[t].name_2 + ')</option>';
                }
            }
            if (dd>d1) {
                var $select = $('<select class="roster" disabled title="' + roster[x].inst_name + '"></select>');
            }
            else {
                var $select = $('<select class="roster" title="' + roster[x].inst_name + '"></select>');
            }
            $select.append(html);
            $div.append($select);
            roster_html += $div[0].outerHTML;
        }
        roster_html += '<div id="roster_options"></div>';
        if(dd<=d1) {
            roster_html += add_arrow();
        }
        return roster_html;
    }

function popup(id, date) {
    $("#popup").dialog({
        title: "Worship Team (" + date + ")",
        width: 'auto',
        buttons: [
	        {
	            id: "button-add",
                text : "OK",
                click: function() {
                    $( this ).dialog( "close" );
                    location.reload();
                }
            }
        ]
    });
    get_roster(id, date);
}

function get_roster(id, date) {
    $("#popup").empty();
    url = API_URL + 'inst_team/'+id;
    $.when( $.ajax( url ) ).then(function( response, textStatus, jqXHR ) {
        if(response) {
            inst = response['inst'];
            team = response['team'];
            roster = response['roster']
            marked = response['marked']
            $("#popup").html(pick_team(id, date));
        }
    });
}

function get_sermon(id) {
    url = API_URL + 'sermon/'+id;
    $.when( $.ajax( url ) ).then(function( response, textStatus, jqXHR ) {
        if(response) {
            var sermon_data = {};
            $("#popup").empty();
            html = 'Title: <input type="text" id="title" value="' + response.title + '"></input><br/>Speaker: <input type="text" id="speaker" value="' + response.speaker + '"></input><br/>&nbsp;Bible: <input type="text" id="bible_verse" value="' + response.bible + '"></input><br/>Outline<br/><textarea rows="3" cols="2" style="width:95%" id="outline">' + response.outline + '</textarea><br/>Notes<br/><textarea rows="3" cols="2" style="width:95%" id="notes">' + response.notes + '</textarea>';
            $("#popup").append(html);
            $("#popup").dialog({
                title: "Sermon Information (" + date + ")",
                width: 'auto',
                buttons: [
	                {
	                    id: "button-add",
                        text : "OK",
                        click: function() {
                            if(!jQuery.isEmptyObject(sermon_data)) {
                                sermon_data["date"] = date;
                                $.ajax({
                                    type: "post",
                                    url: url,
	                                data: JSON.stringify(sermon_data),
                                    contentType: "application/json",
                                    dataType: 'json',
                                    complete: function(response) {
          	                            if(response.status==200) {
                                            location.reload();
    	                                }
                                        else {
                                            alert(response.responseText);
		                                }
                                    }
                                });
                            }
                            $( this ).dialog( "close" );
                        }
                    }
                ]
            });
            $('#popup input').change(function() {
                sermon_data[this.id] = $(this).val();
            });
            $('#popup textarea').change(function() {
                sermon_data[this.id] = $(this).val();
            });
        }
    });
}

$(document).on('click', '#add_arrow', function() {
    $("#roster_options").append(inst_option()+team_option()+add_button());
    $('#add_arrow').hide();
});

$(document).on('change', ".inst, .user", function() {
    if ($('.inst').val() != 'Select an Role' && $('.user').val() != 'Select a User') {
        $('.add_btn').show();
    }
    else {
        $('.add_btn').hide();
    }
});

$(document).on('click', ".add_btn", function() {
    id_date = $("#current_roster").attr('name').split('_');
    url = API_URL + 'roles/' + id_date[1];
    data = {'user_id': Number($('.user').val()), 'role_id': Number($('.inst').val()), 'worship_id': id_date[0]};
    $.ajax({
        type: "post",
        url: url,
        data: JSON.stringify(data),
        contentType: "application/json",
        dataType: 'json',
        complete: function(response) {
            if(response.status==200) {
                get_roster(id_date[0], id_date[1]);
            }
            else {
                alert(response);
            }
        }
    });
});


$(document).ready(function () {
    $(".overlay_btns button").on('click', function () {
        id = $(this).attr('name');
        date = $(this).parent().parent().parent().attr('date')
        if(!id) {
            $("#popup").html();
        }
        else {
            worship_id = Number(id);
            if (this.id == 'song_btn') {
                window.location.href = '?id='+id;
            }
            else if (this.id == 'team_btn') {
                popup(id, date);
            }
            else if (this.id == 'sermon_btn') {
                get_sermon(worship_id);
            }
            else if (this.id == 'info_btn') {
                location.href = '/info?date='+id;
            }
            else if (this.id == 'notes_btn') {
                location.href = '/worship/'+id;
            }
        }
    });

});

</script>
</html>