.content {
    padding: 30px;
}

#top-left, #top-right, #bottom-left, #bottom-right {
position: fixed;
padding: 10px;
z-index: 10; /* Ensure they stay above the slides */
}

#top-left, #top-right {
    top: 20px;
    font-size: 3vh;
}

#bottom-left, #bottom-right {
    bottom: 20px;
    font-size: 2vh;
}

#top-left     { left: 20px; color: #ffd800; }
#top-right    { right: 20px; color: #ff3800; background-color: #c0c0c0; display: none; }
#bottom-left  { left: 20px; color: #fff; }
#bottom-right { right: 20px; color: #fff; }

#popup {
    display: none flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border: 3px solid green;
}

/* Lead style */
.admin_container {
    display: grid;
    grid-template-areas:
        "reveal menu";
    grid-template-columns: 5fr 2fr;
    gap: 5px;
}

.lead_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    width: 100vw;
    height: 100vh;
}

.reveal {
    grid-column: span 6 / span 6;
    grid-row: span 4 / span 4;
}

.control_panel {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 7;
}

.review {
    grid-column: span 9 / span 9;
    grid-row-start: 5;
}
.control_panel button {
    padding: 28px 16px;
    width: 125px;
    margin: 5px;
}
#slide_notes {
    color: #fff;
    width: 300px;
    word-wrap: break-word;
    }

#dynamic_btn button {
    padding: 28px 16px;
    width: 125px;
    margin: 5px;
    font-size: 50px;
}


#notes {
    font-size: 1.5vw;
}

.notes {
    text-align: left;
}

.inner.current {
    color: #fff;
    border-radius: 5px;
    opacity: 0.5;
}


/* Musician style */

/* For chord */
span.chunk {
    position:relative;
}

span.chunk:before {
    font-size:60%;
    content:attr(data-chord);
    position:absolute;
    top:-110%;
    color: #ff3800;
}

.song_chord {
    font-size: 5vw;
    line-height: 200%;
}

.next {
    opacity: 0.3;
}

.lyrics {
    font-size: clamp(100%, 1rem + 3vw, 60px);
    line-height: 120%;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.info {
    font-size: clamp(100%, 1rem + 2vw, 55px);
    line-height: 120%;
    color: #fff;
    text-align: left;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.info.region, .song.region {
    color: #ffd800;
}