{% extends 'base.html' %}

{% block page_title %}EFCNC Calendar{% endblock %}

{% block extra_css %}
<link href="/static/datatables.min.css" rel="stylesheet">
<style>
    table.fixedHeader-floating,table.fixedHeader-locked{position:relative !important;background-color:var(--dt-html-background);background-color:var(--dt-html-background)}@media print{table.fixedHeader-floating,table.fixedHeader-locked{display:none}};
    .layout-start {
        font-weight: bold;
		font-size: 14px;
	}
</style>
{% endblock %}

{% block content %}
<body>
<table id="calendar" class="display compact cell-border">
</table>
<p><button id="addRow">Add New Week</button></p>
</body>

{% endblock %}

{% block extra_js %}
<script src="/static/datatables.js"></script>
<script src="/static/dataTables.fixedHeader.min.js"></script>
<script>
    let calendar = {{ calendar|safe }};
    let column = {{ column|safe }};

    let table = new DataTable('#calendar', {
        layout: {
            topStart:{
            div: {
                className: 'layout-start',
                text: 'EFCNC Master Calendar'
            }
        }
            },
        fixedHeader: true,
        ordering: false,
        info: false,
        data: calendar,
		columns: column.map(name => ({ title: name })),
        columnDefs: [
            {
                //render: (data, type, row) => fields(data, row),
                createdCell: function(td, cellData, rowData, row, col) {
                    d1 = new Date();
                    d2 = new Date(rowData[0].replace('-', '/'));
                    if (d2 > d1) {
                        $(td).attr('contenteditable', 'true');
                    }
                    $(td).attr('init-data', cellData);
                    $(td).attr('init-date', rowData[0]);
                    $(td).attr('init-id', col);
                },
                targets: "_all"
            }
        ],
        "bLengthChange": false,
        "pageLength": 26
    });

    $(document).on('blur', '[contenteditable]', function() {
        id = $(this).attr('init-id');
        date = $(this).attr('init-date');
        init_val = $(this).attr('init-data');
        val = $(this).text();
        if(val != init_val) {
            //if (confirm('Change the content from "' + init_val + '" to "' + val + '"?')) {
                data = {'date': date, 'name': val};
                url = API_URL + 'calendar/' + id;
                $('#loading').show();
                $.ajax({
                    type: "post",
                    url: url,
	                data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: 'json',
                    complete: function(response) {
          	            if(response.status==200) {
                            table.clear().rows.add(response.responseJSON).draw();
                        }
                        $('#loading').hide();
                    }
                });
            //}
        }
    });

    document.querySelector('#addRow').addEventListener('click', addNewRow);
    function addNewRow() {
        $('#loading').show();
        var last_row = table.row( ':last' ).data();
        let d = new Date(last_row[0].replace('-', '/'));
        var nextWeek = new Date(d.getTime() + 7 * 24 * 60 * 60 * 1000).toLocaleDateString('en-CA');
        url = API_URL + 'calendar/0';
        $.ajax({
            type: "put",
            url: url,
	        data: JSON.stringify({'date':nextWeek}),
            contentType: "application/json",
            dataType: 'json',
            complete: function(response) {
          	    if(response.status==200) {
                    table.clear().rows.add(response.responseJSON).draw();
                }
                $('#loading').hide();
            }
        });
    }

</script>
{% endblock %}