{% extends 'base.html' %}

{% block page_title %}Weekly Bulletin{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    /* Override global body things from global.css */
    body {
        margin: initial;
        padding: initial;
        font-family: initial;
        font-size: initial;
        line-height: initial;
        color: initial;
        background-color: initial;
    }

    @media print {
        footer {page-break-after: always;}
    }

    .report {
    display: grid;
    grid-template-columns: 48% 48%;
    padding: 5px;
    gap: 35px;
    }

    .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    }

    .container div {
    border: 1px solid;
    padding: 1px;
    height: 18px;
    font-size:14px;
    }

    #task_table {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 3px;
    position: relative;
    }

    .info_table {
    border-collapse: collapse;
    width: 100%;
    }

    .info_table td {
    border: 1px solid #ddd;
    padding: 0px;
    }

    .info_table tr:nth-child(odd) {
    background-color: #d0d0d0;
    }

    .logo {
    float: left;
    content: url('/static/img/efc_logo.png');
    }

    .title {
    font-size: 40px;
    font-family: DFKai-sb;
    }

    .topic {
    font-size: 18px;
    font-weight: bold;
    }

    .large {
    font-size: 18px;
    }

    .medium {
    font-size: 16px;
    }

    .small {
    font-size: 14px;
    }

    .tiny {
    font-size: 12px;
    }

    .time_table td {
    border: 1px solid #000;
    padding: 3 3 3 3;
    }

    .header {
    background-color: #c0c0c0;
    }

    .line {
    content: url('/static/img/line.jpg');
    height: 20px;
    width: 20px;
    }

    .youtube {
    content: url('/static/img/youtube.jpg');
    height: 20px;
    width: 20px;
    }

    .zelle {
    content: url('/static/img/zelle.jpg');
    height: 20px;
    width: 20px;
    }

    .zoom {
    content: url('/static/img/zoom.jpg');
    height: 20px;
    width: 20px;
    }

    .editable {
    contenteditable: true;
    }

    #overflow {
    text-align: 'center'
    }

    .number, .currency {
    text-align: center;
    }

    .dollar::before {
    content: "$";
    }

    .task_table_btn {
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
    }

    #task_table:hover .task_table_btn {
        visibility: visible;
    }

    .info_table_btn {
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
    }

    .info_table {
        position: relative;
    }

    .info_table:hover .info_table_btn {
        visibility: visible;
    }

    .sermons_btn {
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
    }

    #sermons {
        position: relative;
    }

    #sermons:hover .sermons_btn {
        visibility: visible;
    }

    .info_btn {
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
    }

    #info {
        position: relative;
    }

    #info:hover .info_btn {
        visibility: visible;
    }

    .front_right_btn {
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
    }

    .right {
        position: relative;
    }

    .right:hover .front_right_btn {
        visibility: visible;
    }

    .overflow_btn {
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
    }

    #overflow_ {
        position: relative;
    }

    #overflow_:hover .overflow_btn {
        visibility: visible;
    }
</style>
{% endblock %}

{% block content %}
<div id="weekly_report">
{{ report|safe }}
</div>
{% endblock %}

{% block extra_js %}
<script>
    // variables
    let worship = {};
    //let previous;
    let template;
    let l;
    let announcement;
    let prayer;
    let present1;
    let present2;
    let saved = {{ saved|safe }};

    url = window.location.pathname;
    id = url.split('/').pop();

    font_size = ['tiny', 'small', 'medium', 'large'];

    function load_content(url) {
        return $.ajax({
            url: url,
            dataType: "json",
        });
    }

    function last_week(d){
        var today = new Date(d);
        var week = new Date(today.getFullYear(), today.getMonth(), today.getDate()-7);
        return week;
    }

    function load_time_table() {
        html = '<b>我們的聚會</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="small">地址：' + template.address + '</span>';
        html += '<table class="time_table" width="100%">';
        event = template.time_table
        for(var i=0;i<event.length;i++) {
            html += '<tr><td>' + event[i].title + '</td><td>' + event[i].day + '</td><td>' + event[i].time + '</td><td>' + event[i].type + '</td><td>' + event[i].in_charge + '</td></tr>';
        }
        html += '</table>';
        $('#time_table').html(html);
    }

    function load_rollcall() {
        console.log("Loading rollcall information...");
        url = '/API/rollcall/' + id + '?group=1';
        $.when(load_content(url)).done(function(rollcall) {
            all = rollcall[0][0];
            em = rollcall[0][1].filter(obj=>obj['id'] == 12).map(obj=>obj['count']);
            youth = rollcall[0][1].filter(obj=>obj['id'] == 13).map(obj=>obj['count']);
            kids = rollcall[0][1].filter(obj=>obj['id'] == 14).map(obj=>obj['count']);
            sunday_school = Number(rollcall[0][1].filter(obj=>obj['id'] == 4).map(obj=>obj['count'])) + Number(rollcall[0][1].filter(obj=>obj['id'] == 8).map(obj=>obj['count'])) + Number(rollcall[0][1].filter(obj=>obj['id'] == 9).map(obj=>obj['count']));
            $('#rollcall_total1').text(all);
            $('#rollcall_total1').addClass('number');
            $('#rollcall_worship1').text(all-em-youth-kids);
            $('#rollcall_worship1').addClass('number');
            $('#rollcall_em1').text(em);
            $('#rollcall_em1').addClass('number');
            $('#rollcall_youth1').text(youth);
            $('#rollcall_youth1').addClass('number');
            $('#rollcall_kids1').text(kids);
            $('#rollcall_kids1').addClass('number');
            $('#rollcall_sunday_school1').text(sunday_school);
            $('#rollcall_sunday_school1').addClass('number');
            all = rollcall[1][0];
            em = rollcall[1][1].filter(obj=>obj['id'] == 12).map(obj=>obj['count']);
            youth = rollcall[1][1].filter(obj=>obj['id'] == 13).map(obj=>obj['count']);
            kids = rollcall[1][1].filter(obj=>obj['id'] == 14).map(obj=>obj['count']);
            sunday_school = Number(rollcall[1][1].filter(obj=>obj['id'] == 4).map(obj=>obj['count'])) + Number(rollcall[1][1].filter(obj=>obj['id'] == 8).map(obj=>obj['count'])) + Number(rollcall[1][1].filter(obj=>obj['id'] == 9).map(obj=>obj['count']));
            $('#rollcall_total2').text(all);
            $('#rollcall_total2').addClass('number');
            $('#rollcall_worship2').text(all-em-youth-kids);
            $('#rollcall_worship2').addClass('number');
            $('#rollcall_em2').text(em);
            $('#rollcall_em2').addClass('number');
            $('#rollcall_youth2').text(youth);
            $('#rollcall_youth2').addClass('number');
            $('#rollcall_kids2').text(kids);
            $('#rollcall_kids2').addClass('number');
            $('#rollcall_sunday_school2').text(sunday_school);
            $('#rollcall_sunday_school2').addClass('number');
        });
    }

    function load_calendar() {
        console.log("Loading master calendar information...");
        url = '/API/calendar/' + id;
        $.when(load_content(url)).done(function(calendar) {
            task_table = '<button class="task_table_btn" name="task_table" title="Refresh"><i class="material-icons">refresh</i></button>';
            task_table += '<div class="container"><div class="header">負責事工</div>';
            current_date = calendar[0].date;
            const d = new Date(current_date.replace('-', '/'));
            let date_string = '主後' + d.getFullYear().toString() + '年' + (d.getMonth()+1).toString() + '月' + d.getDate() + '日';
            $('#worship_date').html(date_string);
            $('#date_stamp').html("<h4>" + date_string + "週報</h4>");
            var order = calendar.filter(obj=>{return obj.date == current_date});
            $('#pianist').html(order.filter(obj=>{return obj.id == 8}).map(obj=>obj.name));
            $('.lead').html(order.filter(obj=>{return obj.id == 5}).map(obj=>obj.name));
            $('.usher').html(order.filter(obj=>{return obj.id == 3}).map(obj=>obj.name));
            $('#benediction').html(order.filter(obj=>{return obj.id == 2}).map(obj=>obj.name));
            $('#speaker').html(order.filter(obj=>{return obj.id == 1}).map(obj=>obj.name));

            for(var k=0;k<calendar.length;k++) {
                if(current_date != calendar[k].date) {
                    break;
                }
                if (k % 2 == 1) {
                    task_table += '<div class="header">' + calendar[k].title + '</div>';
                }
                else {
                    task_table += '<div>' + calendar[k].title + '</div>';
                }
            }
            current_date = '';
            date_title = ['本週', '下週', '下下週'];
            n = 0;
            for(var j=0;j<calendar.length;j++) {
                if(calendar[j].date != current_date) {
                    current_date = calendar[j].date;
                    dd = current_date.split('-');
                    task_table += '</div><div class="container"><div class="header">' + date_title[n] + '(' + Number(dd[1]) + '/' + Number(dd[2]) + ')</div>';
                    n++;
                }
                task_table += '<div contenteditable="true">' + calendar[j].name + '</div>';
            }
            task_table += '</div>';
            $('#task_table').html(task_table);

            let d1 = last_week(d)
            let text = d1.toLocaleDateString('en-US');
            text = text.split('/');
            text.pop();
            $('#week_2').html(text.join('/')+'上週');
            d2 = last_week(d1)
            text = d2.toLocaleDateString('en-US');
            text = text.split('/');
            text.pop();
            $('#week_1').html(text.join('/')+'上上週');
        });
    }

    function load_info() {
        console.log("Loading weekly info information...");
        url = '/API/info/' + id;
        $.when(load_content(url)).done(function(info) {
            html ='<ol>';
            announcement = info.filter((item, index) => item.type == 'announcement').map(obj=>obj.info);
            for (item in announcement) {
                html += '<li>' + announcement[item] + '</li>';
            }
            $('#announcement').html(html);
            html ='<ol>';
            prayer = info.filter((item, index) => item.type == 'caring').map(obj=>obj.info);
            for (item in prayer) {
                html += '<li>' + prayer[item] + '</li>';
            }
            html += '</ol>';
            $('#caring').html(html);
        });
    }

    function load_sermons() {
        console.log("Loading sermon information...");
        url = '/API/sermon/' + id;
        $.when(load_content(url)).done(function(worship) {
            ww = '主題：' + worship.title + '<br/>';
            ww += '經文：' + worship.bible + '<br/>';
            if (worship.outline) {
                ww += '大綱：';
                temp = worship.outline.split('\n');
                ww += '<ol>';
                for(outline of temp) {
                    ww += '<li>' + outline + '</li>';
                }
                ww += '</ol>';
            }
            $('#this_week').html(ww);
        });

        url = '/API/sermon/' + (id-1);
        $.when(load_content(url)).done(function(previous) {
            ww = '主題：' + previous.title + '<br/>';
            ww += '經文：' + previous.bible + '<br/>';
            if (previous.outline) {
                ww += '大綱：';
                temp = previous.outline.split('\n');
                ww += '<ol>';
                for(outline of temp) {
                    ww += '<li>' + outline + '</li>';
                }
                ww += '</ol>';
            }
            $('#previous_week').html(ww);
        });
    }

    if (saved == 0) {
        console.log('loading ajax calls');
        load_sermons();
        load_info();
        load_calendar();
        load_rollcall();
    }

    // Event Triggers
    $('#save_btn').click(function() {
        html = $('#weekly_report').html();
        url = '/API/report/' + id;
        $.ajax({
            type: "put",
            url: url,
	        data: JSON.stringify({'html': html}),
            contentType: "application/json",
            dataType: 'json',
            complete: function(response) {
          	    if(response.status==200) {
                    alert("Report Saved");
    	        }
    	        else {
    	            alert("Error, " + response.responseText);
    	        }
    	    }
        });
    });

    // Reloading sessions
    $('#info_btn').click(function() {
        load_info();
    });

    $('#sermons_btn').click(function() {
        load_sermons();
    });

    $('#info_table_btn').click(function() {
        load_rollcall();
    });

    $(document).on('click', '.task_table_btn', function() {
        load_calendar();
    });

    $('button.font').click(function() {
        sessions = {'info': ['#announcement', '#prayer'], 'overflow': ['#overflow'], 'sermons': ['#this_week', '#previous_week']};
        session_id = $(this).attr('name');
        target = sessions[session_id];
        current_size = $(target[0]).prop("className");
        font_index = font_size.indexOf(current_size);
        action = $(this).attr('class').split(' ').pop();
        if(action == 'down') {
            if(font_index-1>= 0) {
                font_index = font_index - 1;
                current_size = font_size[font_index];
            }
        }
        else {
            if(font_index+1 <= font_size.length) {
                font_index = font_index + 1;
                current_size = font_size[font_index];
            }
        }
        for (elm in target) {
            $(target[elm]).prop("className", current_size);
        }
    });

    $('.currency').blur(function() {
        if($(this).text() != '') {
            $(this).addClass('dollar');
        }
    });
</script>
{% endblock %}