{% extends 'base.html' %}

{% block page_title %}Slides Menu{% endblock %}
{% block extra_css %}
<style>
    html {
        height: 100%;
    }

    body {
        margin: 0; 
        color: white; 
    }

    Targeted styling instead of styling all divs globally
    .menu-container {
        padding: 30px 10px;
    }


</style>
{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Target the buttons specifically by their class
            $('.button').click(function() {
                // Added 'const' to properly declare the variable
                const name = $(this).attr('name');
                window.location.href = '/slides/' + name;
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="menu-container">
        <button class="button" name="admin">Admin</button>
        <button class="button" name="lead">Lead</button>
        <button class="button" name="view">View</button>
        <button class="button" name="musician">Musician</button>
        <button class="button" name="score">Score</button>
    </div>
{% endblock %}
