{% extends 'base.html' %}

{% block page_title %}Admin Home{% endblock %}

{% block extra_css %}
    <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="menu-container">
        <a href="/slides/admin" class="menu-card">
            <i class="fa-solid fa-circle-info"></i>
            <span>Admin</span>
        </a>

        <a href="/slides/lead" class="menu-card">
            <i class="fa-solid fa-users"></i>
            <span>Lead</span>
        </a>

        <a href="/slides/view" class="menu-card">
            <i class="fa-solid fa-eye"></i>
            <span>View</span>
        </a>

        <a href="/slides/musician" class="menu-card">
            <i class="fa-solid fa-music"></i>
            <span>Musician</span>
        </a>

        <a href="/slides/sheets" class="menu-card">
            <i class="fa-solid fa-file-alt"></i>
            <span>Sheets</span>
        </a>

        <a href="/slides/chords" class="menu-card">
            <i class="fa-solid fa-guitar"></i>
            <span>Chords</span>
        </a>
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}