    <title>Presentation View</title>
    <link rel="stylesheet" href="/static/dist/reset.css">
	<link rel="stylesheet" href="/static/dist/reveal.css">
	<link rel="stylesheet" href="/static/dist/theme/black.css">
	<link rel="stylesheet" href="/static/presentation.css">

    <script src="../static/jquery.js"></script>
    <script src="../static/jquery-ui.js"></script>
    <script src="../static/socket.io.js"></script>
    <script src="../static/presentation.js"></script>
	<script src="/static/dist/reveal.js"></script>

    <style>
        html, body {
            height: 100%;
            background-color: #000;
            margin: 0;
            overflow: hidden;
        }

        #popup {
            position: fixed;
            z-index: 999;
        }

        #top-left, #top-right, #bottom-left, #bottom-right, #popup {
            position: absolute; 
            z-index: 10; /* Keeps them above the slides */
            pointer-events: none; /* Allows clicks to pass through to slides unless you need to click them */
        }
        #top-left     { top: 0; left: 0; }
        #top-right    { top: 0; right: 0; }
        #bottom-left  { bottom: 0; left: 0; }
        #bottom-right { bottom: 0; right: 0; }
    </style>
    <script>

    // init data from flask
        presentation = {{ presentation|safe }};
        slides = presentation['data'];
        mode = '{{ mode|safe }}';

        pos = presentation['pos'][0];
        order = presentation['pos'][1];
        msg = presentation['msg'];

    $(document).ready(function() {
        $('#header').hide();
		Reveal.initialize({
			hash: false,
			slideNumber: false,
			loop: false,
			overview: false,
			progress: false,
			controls: false
		});
        load_slides();
    });

    Reveal.on('ready', (event) => {
        Reveal.slide(pos, order);
    });

    Reveal.on('slidechanged', (event) => {
        pos = event.indexh;
        order = event.indexv;
        change_slide()
    });
</script>
</head>
<body>
    <div class="reveal">
        <div class="slides"></div>
    </div>

    <div id="top-left"></div>
    <div id="top-right"></div>
    <div id="bottom-left"></div>
    <div id="bottom-right"></div>
    <div id="popup"></div>
</body>
</html>