{% extends 'base.html' %}

{% block page_title %}Worship Home - Worship Manager{% endblock %}

{% block extra_css %}
    <script src="../static/socket.io.js"></script>
    <script src="../static/presentation.js"></script>
    <link href="../static/presentation.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/dist/reset.css">
	<link rel="stylesheet" href="/static/dist/reveal.css">
	<link rel="stylesheet" href="/static/dist/theme/black.css">
	<script src="/static/dist/reveal.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
        html {
            height: 100%;
            background-color: #000;
        }

        body {
            overflow: hidden;
        }

        .material-icons {
            font-size: 40px;
            padding: 10px;
        }

        .material-icons.small {
            font-size: 25px;
            padding: 4px;
        }

        .material-icons.link {
            font-size: 25px;
            margin: auto;
        }

        .material-icons.disabled {
            //display: none;
        }

        .material-icons:hover {
            cursor: pointer;
            color: #fff;
            background-color: #000;
        }

        #image_icons img {
            padding: 5px;
            width: 50px;
        }

        #image_icons img:hover {
            border: 1px solid #ddd;
            border-radius: 4px;
            cursor: pointer;
        }

        #edit_btn {
            position: fixed;
            z-index: 99;
            display: none;
        }

        #image_bg {
            border: 1px solid #000;
            border-radius: 4px;
            background-color: #002147;
            display: none;
            z-index: 1;
        }

        #bible_panel {
            background-color: #f02447;
            display: none;
            flex-direction: row;
        }

        #msgbox {
            display: none;
        }

    .bible_book {
        border: 1px solid #000;
        border-radius: 4px;
        margin: 2;
    }

    .bible_book:hover {
        border: 1px solid #fff;
        cursor: pointer;
    }

    .bible_chapter {
        border: 1px solid #000;
        margin: 5px;
        display: none;
    }

    .admin_container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 8px;
  	    background-color: #c0c0c0;
	    height: 100vh;
}

.reveal {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
}

.menu {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 5;
}
</style>
{% endblock %}

{% block content %}
<body>
<div id="dialog"></div>
<div class="admin_container">
    <div class="reveal">
		<div class="slides"></div>
	</div>
    <div id="bottom-left" style="display: flex; justify-content: center;align-items: center"><span title="Set the numbers of line in one slide. 0=all lines">Fragment:</span> <select id="fragment"></select>&nbsp;<i class="material-icons link" id="add_link" title="Add a link">&#xE250;</i></div>
    <div class="menu">
        <div id="control_panel">
            <!-- Apply, Apply all and cancel buttons -->
            <div id="edit_btn"><i class="material-icons small disabled" name="one" title="Apply">&#xE876;</i><i class="material-icons small disabled" name="all" title="Apply All">&#xE877;</i><i class="material-icons small disabled" name="cancel" title="Cancel">&#xE5C9;</i></div>
            <!-- Control buttons -->
            <br/>
            <i name="0" id="save" class="material-icons small" title="Download Slide">&#xE2C0;</i>
            <i class="material-icons small" name="1" title="Add a Slide">&#xE89C;</i>
            <i class="material-icons small" name="2" title="Add an Image or Video Slide">&#xE04A;</i>
            <i class="material-icons small" name="3" title="Delete current Slide">&#xE92B;</i>
            <i class="material-icons small" name="4" title="Change Background">&#xE3F4;</i>
            <i class="material-icons small" name="5" title="Slide Setting">&#xE8B8;</i>
            <i class="material-icons small" name="6" title="Broadcast Message">&#xE0C9;</i>
            <i class="material-icons small" name="7" title="Edit Josn File">&#xE3C9;</i>
            <i class="material-icons small" name="8" title="Casting View">&#xE30C;</i>
        </div>
        <hr/>
        <!-- 2nd layer buttons toggle by first layer function -->
        <div id="msgbox"><textarea id="content" rows="3" cols="40"></textarea>&nbsp;&nbsp;<i class="material-icons small" id="send_msg" title="Send a message to view">&#xE163;</i><i class="material-icons small" id="clear_msg" title="Clear the message">&#xE14C;</i></div>
        <div id="image_bg">
            <div id="slider" style="width:300px"><div id="custom-handle" class="ui-slider-handle"></div></div>
            <div id="image_icons"></div>
        </div>
        <div id="bible_panel"></div>
        <b>Title</b><div id="slide_title" class="admin title" title="Slide Title" contenteditable="true"></div><br/><b>Notes</b><div id="slide_notes" class="admin notes" title="Slide Notes" contenteditable="true"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
        mode = 'admin';                 // Set mode to admin
        bg_url = '';
        bg_opacity = 1;
        a_type = '';
        origin_text = '輸入您的資訊';
        region_text = 'Enter your extra language information here';

        presentation = {{ presentation|safe }};
        slides = presentation['data'];
        setting = presentation['setting'];
        pos = presentation['pos'][0];
        order = presentation['pos'][1];
        background = presentation['background'];
        w_id = presentation['id'];
        focus_div = null;
        bible = [];

        // Slide related functions

        function toggle_panel(name) {
            panels = ['image_bg', 'msgbox', 'bible_panel'];
            $('#'+name).toggle();
            for (i in panels) {
                if(panels[i] != name) {
                    $('#'+panels[i]).hide();
                }
            }
        }

        function show_assets() {
            // show asset page
            $( "#dialog" ).dialog({
                width: 800,
                height: 600
            });
            $("#dialog").load('/assets', function() {
                $("#dialog").dialog({
                    title: "Slide Assets",
                    buttons: [
	                {
    	                id: "button-save",
                        text : "Save",
                        click: function() {
                            if(JSON.stringify($('#sortable').sortable( "toArray" )) != JSON.stringify(order)) {
                            console.log('change');
                            }
                            //$(this).dialog( "close" );
                        }
                    },
                    {
	                    id: "button-cancel",
                        text : "Cancel",
                        click: function() {
                            $( this ).dialog( "close" );
                        }
                    }
                    ]
                })
            });
        }

        function show_background() {
            // show background images
            toggle_panel('image_bg');
            if ($('#image_bg').is(":visible")) {
                var url = '/API/backgrounds';
                $.when( $.ajax( url ) ).then(function( response, textStatus, jqXHR ) {
                    var temp = '';
                    for (var i=0;i<response.length;i++) {
                        temp += '<img src="' + response[i] + '" title="' + response[i] + '"/>';
                    }
                    $('#image_icons').empty().html(temp);
                    a_type = 'bg';
                });
            }
            else {
                bg_url = '';
                a_type = '';
                $('#edit_btn').hide();
            }
        }

        function delete_slide() {
            // Delete current slide
            song = false;
            if (Array.isArray(slides[pos].content)) {
                title = slides[pos].content[content_index].name;
                text = 'This will delete the song slide "' + title + '", are you sure?';
                song = true;
            }
            else {
                text = 'This will delete the current slide with the title "' + slides[pos].title + '", are you sure?';
            }
            if (confirm(text) == true) {
                if(song) {
                    slides[pos].content.splice(order, 1);
                }
                else {
                    slides.splice(pos, 1);
                }
                update_json();
            }
        }

        function add_media_slide() {
            link = prompt('Enter the link to insert to current slide');
            if(link) {
                info = {"alt_sequence": "", "author": "", "style": {"align": "", "background": "", "opacity": 1, "fragment": 4, "color": ""}, "bible": "", "book": "", "ccli": "", "content": {"origin_text": link, "region_text": ""}, "copyright": "", "date": "", "id": -1, "key": "", "lang": "", "lang_2": "", "lyricist": "", "lyrics_raw": "", "notes": "Media", "score": "", "sequence": "", "title": "Media", "transpose": "0", "type": "media", "version": "", "video": ""};
                slides.splice(pos+1, 0, info);
                adding_slide = 0;
                update_json();
            }
        }

        function add_slide() {
            // Add a slide after the current one
            adding_slide = 1;
            $('#edit_btn').css('left', $('.reveal').width()-100);
            $('#edit_btn').show();
            slide_div = Reveal.getSlide(pos, order);
            info_div = '<div contenteditable="true" class="info origin">' + origin_text + '</div><div contenteditable="true" class="info region">' + region_text + '</div>'
            slide_div.children[0].innerHTML = info_div;

            $(".info.origin").click(function() {
                if($(this).html() == origin_text) {
                    $(this).html('');
                }
            });
            $(".info.region").click(function() {
                if($(this).html() == region_text) {
                    $(this).html('');
                }
            });
            $(".info.origin").focusout(function() {
                if($(this).html() == '' && $(this).html != origin_text) {
                    $(this).html(origin_text);
                }
            });
            $(".info.region").focusout(function() {
                if($(this).html() == '' && $(this).html != region_text) {
                    $(this).html(region_text);
                }
            });
            a_type = 'info';
            console.log(pos, order, w_id);
        }

        function send_msg(data, mode='view') {
            // Broadcast Message to View
            socket.emit('control', {'type': 'msg', 'value': data, 'mode': mode});
        }

        // Document ready events
        $(document).ready(function() {
            // Init Reveal
    		Reveal.initialize({
	    		embedded: true,
	    		loop: true,
	    		hash: false,
			    slideNumber: true,
			    navigationMode: "default",
			    progress: false
    		});
    		load_slides();    // Load slides

             // init slider for opacity control
             var handle = $( "#custom-handle" );
            $( "#slider" ).slider({
                range: 'max',
                min: 0,
                max: 10,
                value: 10,
                create: function() {
                    handle.text( $( this ).slider( "value" ) );
                },
                slide: function( event, ui ) {
                    handle.text( ui.value );
                    bg_opacity = ui.value/10;
                    update_current_bg();
                }
            });
        });

        $('div').on('focus', '[contenteditable]', function() {
            const $this = $(this);
            focus_div = $this;
            $this.data('before', $this.html());
        }).on('blur', '[contenteditable]', function() {
            const $this = $(this);
            if ($this.data('before') !== $this.html()) {
                $this.data('before', $this.html());
                $this.trigger('change');
            }
        });

        // Helper to use the correct tag when return is enter in the div
        $(document).on('keydown', '[contenteditable=true]', function(e) {
            // trap the return key being pressed
            if (e.keyCode == 13) {
                if(e.target.innerHTML.includes('<li>')) {
                    console.log('<li>', 'Do nothing...');
                }
                else if(e.target.innerHTML.includes('<p>')){
                    console.log('<p>', 'insert line break');
                    document.execCommand('insertLineBreak');
                    return false;
                }
                else {
                    console.log('<div>', 'insert br');
                    document.execCommand('insertLineBreak');
                    return false;
                }
            }
        });

        $(document).on('change', '[contenteditable]', function() {
            element_class = $(this).attr('class');
            order_num = $(this).parent().parent().attr('order');
            // Getting the root section of the changed div in order to loop through all content
            section_root = $(this).parent().parent().parent();
            var new_data = [];
            section_root.children().each(function() {
                if ($(this).attr('order') == order_num) {
                    sub_section = $(this).find('.'+element_class.replace(' ','.'));
                    if(sub_section.text()!='') {
                        html = sub_section.html();
                        new_data.push(html);
                    }
                }
            });
            new_data = new_data.filter(n => n); // Remove empty entries
            new_data = new_data.join('<br/>');

            if(element_class.indexOf('origin')>0) {
                if(element_class.indexOf('song')>=0) {
                    slides[pos].content[order_num].origin_text = new_data;
                }
                else {
                    slides[pos].content.origin_text = new_data;
                }
            }
            else if(element_class.indexOf('region')>0) {
                if(element_class.indexOf('song')>=0) {
                    slides[pos].content[order_num].region_text = new_data;
                }
                else {
                    slides[pos].content.region_text = new_data;
                }
            }
            else if($(this).attr('id') == 'slide_title') {
                slides[pos].title = $(this).html();
            }
            else if($(this).attr('id') == 'slide_notes') {
                if(slides[pos].type=='media') {
                    slides[pos].content.origin_text = $(this).html();
                }
                else {
                    slides[pos].notes = $(this).html();
                }
            }
            update_json();
        });

        $('#send_msg').click(function() {
            data = $('#content').val();
            if (data!='') {
                send_msg(data);
            }
        });

        $('#clear_msg').click(function() {
            $("#content").val('');
            send_msg('');
        });

        $(document).on('click', '.bible_book', function() {
            // show bible chapter
            b_id = $(this).attr('id');
            chapter_num = bible.filter(obj=>obj.id==b_id).map(obj=>obj.chapters);
            temp = '';
            for (i=1;i<=chapter_num;i++) {
                temp += '<button class="chapter_num">' + i + '</button>';
            }
            $('.bible_chapter').empty().html(temp).show();
        });

        $(document).on('click', '#image_icons img', function() {
            // Get slide background and replace with the clicked one
            $( "#custom-handle" ).text(10);
            $( "#slider" ).slider( "option", "value", 10 );
            bg_opacity = 1;
            bg_url = this.title;
            update_current_bg();
            $('#edit_btn').css('left', $('.reveal').width()-100);
            $('#edit_btn').show();
            a_type = 'bg';
        });

        function update_current_bg() {
            slide_bg = Reveal.getSlideBackground(pos, order);
            slide_bg.children[0].setAttribute('style', 'opacity: ' + bg_opacity + '; background-image: url("' + bg_url + '")');
        }

        function cancel() {
            if (adding_slide == 1) {
                load_slides();
                Reveal.slide(pos, order);
            }
            else {
                bg_opacity = slides[pos].style.opacity;
                bg_url = slides[pos].style.background;
                $( "#custom-handle" ).text(10);
                update_current_bg();
            }
            $('#edit_btn').hide();
        }

        function apply(name) {
            if (a_type == 'bg') {
                if (name == 'all') {
                    for(var i=0;i<slides.length;i++) {
                        slides[i].style.background = bg_url;
                        slides[i].style.opacity = bg_opacity;
                    }
                }
                else {
                    slides[pos].style.background = bg_url;
                    slides[pos].style.opacity = bg_opacity;
                }
            }
            else if (a_type == 'info') {
                origin = $('.info.origin').html();
                region = $('.info.region').html();
                if ((origin == '' || origin == origin_text) && (region == '' || region == region_text)) {
                    alert("No information is entered!!");
                    return false;
                }
                else {
                    info = {"alt_sequence": "", "author": "", "style": {"align": "", "background": "", "opacity": 1, "fragment": 4, "color": ""}, "bible": "", "book": "", "ccli": "", "content": {"origin_text": origin, "region_text": region}, "copyright": "", "date": "", "id": 115, "key": "", "lang": "", "lang_2": "", "lyricist": "", "lyrics_raw": "", "notes": "歡迎報告", "score": "", "sequence": "", "title": "Information", "transpose": "0", "type": "info", "version": "", "video": ""};
                    slides.splice(pos+1, 0, info);
                    $('#edit_btn').hide();
                    adding_slide = 0;
                }
            }
            a_type = '';
            update_json();
        }

        $("#add_link").click(function() {
            link = prompt('Enter the link to current slide');
            if(link) {
                link = '&nbsp;<a href="' + link + '" data-preview-link>Click</a>';
                adding_slide = 0;
                html = focus_div.html();
                focus_div.html(html + link);
                if(focus_div.attr('class').indexOf('origin')>0) {
                    slides[pos].content.origin_text = focus_div.html();
                }
                else if(focus_div.attr('class').indexOf('region')>0) {
                    slides[pos].content.region_text = focus_div.html();
                }
                update_json();
            }

        });

        // Control icons click events
        $("#control_panel i").click(function() {
            name = $(this).attr('name');
            switch(name) {
                case '0':
                    //update_json(true);
                    save_slides();
                    break;
                case '1':
                    add_slide();
                    break;
                case '2':
                    add_media_slide();
                    break;
                case '3':
                    delete_slide();
                    break;
                case '4':
                    show_background();
                    break;
                case '5':
                    show_assets();
                    break;
                case '6':
                    toggle_panel('msgbox');
                    break;
                case '7':
                    window.open('/worship/'+w_id+'?json=true', '_blank');
                    break;
                case '8':
                    window.open('/slides/view', '_blank');
                    break;
                case 'one':
                    apply('one');
                    break;
                case 'all':
                    apply('all');
                    break;
                case 'cancel':
                    cancel();
                    break;
            }
        });

        $(document).on('change', '#fragment', function(){
            value = $(this).val();
            slides[pos].style.fragment = value;
            update_json();
        });

        Reveal.on('slidechanged', (event) => {
            if(slide_refreshed) {            // slide refreshed by socket, reset flag
                slide_refreshed = false;
                return true;
            }
            pos = event.indexh;
            order = event.indexv;
            pre = $(event.previousSlide).children().attr('name');
            cur = $(event.currentSlide).children().attr('name');
            change_slide();

            if (order == 0) {
                content_index = 0;
            }
            if(order>0&&pre!=cur) {
                // maintain content_index in order to delete corresponding sequence
                content_index ++;
            }
            if(adding_slide==1) {
                load_slides();
            }
            console.log("slide changed", pos, order, content_index);
            socket.emit('control', {'type': 'pos', 'value': [pos, order], 'from': 'admin'});
        });
</script>
{% endblock %}